
.Record-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    width: 100%;
}

.record-table, td{
    width: 100%;
    max-width: 49%;
}

td{
    border-bottom: 1px solid black;
    /* border-collapse: collapse; */
}

.record-table-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.record-table-head tr{
    padding: 0.2rem;
    width: 100%;
    /* background-color: purple; */
    /* color: white; */
    font-size: 16px;
    font-weight: bold;
}

.record-table-head tr th{
    display: flex;
    justify-content: center;
}

.record-table-head tr{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.record-table-body tr{
    display: flex;
    justify-content: center;
}

.record-table-body td{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    margin: 0.2rem 0;
    word-wrap: break-word;
}

.record-table caption{
    padding: 0.5vw 2vw;
    text-align: center;
    font-weight: 700;
    margin-top: 2vw;
    color: #037E89;
}

#total-amount{
    padding: 0;
    font-weight: 700;
    font-size: 16px;
}